[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BagWhiskerPlot"]
	path = BagWhiskerPlot
	url = https://github.com/seanq31/bagwhiskerplot
